body{
    height: 100vh;
    /* background-image: url("../img/bg.jpg"); */
    background: linear-gradient(90deg, rgba(244,68,115,0.5) 0%, rgba(235,156,41,0.5) 75%);
}

a{
    text-decoration: none;
    color: black;
}

.connect{
    box-sizing: border-box;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    padding: 2em;
    margin: 5px;
    padding-top: 50px;
    border-radius: 5px;
    text-align: center;
    z-index: 5;
    background: rgb(255, 255, 255,0.75);
}

input{
    border-radius: 5px;
    border-color: ivory;
    min-width: 100px;
    width: 300px;
    border: none;
}

.Hdl{
    font-size: larger;
    font-weight: bolder;
}

.centre{
    justify-content: center;
    display: flex;
}

.logo{
    position: absolute;
    z-index: 0;
    max-width: 300px;
    width: 100%;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.espace{
    height: 100px;
}