div {
    color : #f49032;
}

h1 {
    color:#fc3677;
    text-align: center;
}

h1:hover {
    color:#f49032;
    transition : 1s;
}

.ball {
    margin-top: 50px;
    margin-left: -300px;
    width: 60%;
    height: 50%;
    background-color: transparent;
    border-radius: 100px;
    transition: 2s;
    line-height: 40px;
    text-align: center;
}

.navbar{
    background: linear-gradient(deeppink,orange);

}

.navbar .navbar-collapse .navlink{
    color : black;
    transition: 1s;
}

.navbar .navbar-collapse .navlink:hover{
    color : white;
}

.navbar .navbar-collapse .dropdown-menu{
    background:linear-gradient(deeppink,orange);
}

.navbar .navbar-collapse .navlink:hover .dropdown-menu{
    background:linear-gradient(deeppink,orange);
}



