body{
    font-family: 'Lucida Console', Monaco, monospace;
}

div {
    color : #f49032;
}

h1 {

    color:#fc3677;
    text-align: center;
}

h1:hover {
    color:#f49032;
    transition : 1s;
}

img#myLogo{
    margin-top: 10px;
    margin-left: 550px;
    text-align: center;
    width: 230px;
    height: 120px;
    object-fit: cover;
}

img.res{
    margin-top: 25px;
    margin-left: 6px;
    float: right;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.navbar{
    background: transparent;
    border-color: #ff1493;
    font-size: 15px;
}

.navbar .navbar-collapse .navlink{
    color : black;
    transition: 1s;
}

.navbar .navbar-collapse .navlink:hover{
    background: linear-gradient(deeppink, #ffa500) ;
}

.navbar .navbar-collapse .dropdown-menu{
    background:linear-gradient(deeppink, #ffa500);
}


.contact-form{
    background: linear-gradient(deeppink,orange);
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 10px 10px;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: black;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

#btnLangue{
    background-color: transparent;
    border-style: none;
    padding-top: 7px;
    height: 5px;
}

.separation{
    height: 2px;
    color: #839d2d;
    background-color: #839D2D;
    width: 50%;
    border: none;
}
.imgBlog{
    width: 550px;
    height: 550px;
    object-fit: cover;
}


